.material-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.material-option {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Light background color */
  border: 2px solid transparent; /* Default border */
}

.material-option.selected {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-color: #007aff; /* Highlight border color */
  background-color: #e0e0e0; /* Slightly darker background for selected state */
}
